
/* Styling the body section */

body {
  background-image: url("background copy.jpg");
  margin: 0;
}

/* Styling the header */

header {
  background-color: white;
  height: 100px;
  border-bottom: solid;
  border-width: 2.46px;
  border-color: rgb(209, 209, 209);
  
}

h1{
  background-color: #49AAA5;
  width: 40px;
  
}
ul {
margin-right: 8%;

}

ul li {
list-style: none;
display: inline-block;
margin-top:0;
}

ul li a {
padding-top: 50%;  
display: block;
text-decoration: none;
font-size: 18px;
font-family: arial;
color: gray;
}


.line{
  color: rgba(190, 190, 190, 0.349);
  font-size: 25px;
  opacity: 20%;
  font-style: thin;
}

ul li a:hover {
  color: rgb(17, 180, 230);
}

.box-set {
  height:100%;
  width:100%;
}
.box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:155px;
  padding-bottom:40px;
  width: 65%;
  /* height: 500px; */
  background-color: white;
  color:#49AAA5;
  clear: both;
  padding:30px;
  padding-bottom:60px;
  padding-top: 40px;
  margin-bottom: 3.8%;
}

p {
  font-size:35px;
  
}

hr{
  border:solid;
  color: silver;
  width:auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

.headshot
{
  float:left;
  margin-right: 10px;
  padding-left:15px;
  margin-top: -25px;
  padding-top:40px;
  padding-right: 35px;
}

.Bio {
  line-height: 2;
  font-size: 25px;
  font: arial;
  margin-top: -20px;
  color: rgb(105, 105, 105);
  shape-outside: url(headshot.jpeg);
  margin-left: 10px;
  padding-top: 45px;
  /* position: top; */
}

@media (max-width: 768px) {

header h1 {
  margin-top: 0;
      text-align: center;
      margin-bottom: 0px;
      padding: 15px;
      background-color:#49AAA5; 
      color: white;
      width: 100%;
}
nav {
      background-color: white;
      font-size: 1.4em;
      margin: 0;
      padding-bottom: 10px;
      text-align: center;
      width: 105%;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
      padding: .2em;
}

}

@media (min-width: 769px) {
header {
  padding: 0px;
      width: 100%;
      padding-left: 150px;
}

header h1 {
      display: inline-block;
      align-content: center;
      width: 182px;
      /* height: 100px; */
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 28;
      padding-bottom: 36px;
      margin-top: 0px;
      color: white;
}

nav {
      display: inline-block;
}

nav {
      float: right;
      font-size: 1.5em;
}

nav ul {
  margin: 0;
  display: inline;
      margin-right: 190px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: .3em 0.4375em;
}

nav a {
  text-decoration: none;
}
}